@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h5 {
        @apply text-lg
    }

    img {
        @apply select-none
    }

    blockquote {
        @apply m-0 pl-4 py-0.5 shadow-md bg-gray-100 italic rounded
    }

    a {
        @apply underline hover:bg-yellow-300/30 cursor-pointer text-black/60
    }

    /* large code blocks will be parsed into `pre` tags by remark */
    pre {
        @apply bg-gray-600/5 rounded shadow-inner p-2
    }

    /* all code blocks will be parsed into `code` tags by remark */
    code {
        @apply text-sm
    }
}

@layer components {
    .navi-selected {
        @apply font-bold text-[#996e5c]
    }

    .navi-unselected {
        @apply font-bold cursor-pointer
    }

    .navibutton-wide {
        @apply grid items-center w-16 text-center
    }

    .navibutton {
        @apply grid items-center w-10 text-center
    }

    .link-ina {
        @apply underline hover:bg-yellow-300/30 cursor-pointer text-black/60
    }

    .link-header {
        @apply hover:bg-yellow-300/30 cursor-pointer decoration-dotted underline decoration-gray-400 text-lg
    }

    .light-text {
        @apply text-gray-400 text-sm
    }

    .heading-2xl {
        @apply font-bold text-2xl
    }

    .heading-3xl {
        @apply font-bold text-3xl
    }

    .section-list {
        @apply grid gap-y-2
    }

    .blog-content {
        @apply select-text caret-transparent selection:bg-cyan-200 gap-y-4 grid
    }
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Trebuchet MS, Georgia, Microsoft YaHei UI, SimHei, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}